* {
    padding:0;
    margin: 0;
}

body {
    background: #D5E1EF;
}

.container {
    width: 100vw;
    height: 100vh;
    min-height: 35em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card {
    height: 62vh;
    width: 25vw;   
    /*height: 65vh;
    width: 18vw;*/
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: "Outfit", sans-serif;

}      

      
.card img {
        width: 90%;
        height: auto;
        background-color: none;
        border-radius: 10px;
        display: block ;
        margin: 4% auto;
}


.card p {
    font-size: 1em;
    text-align: center; 
    display: block ;
    margin: 8% 8%;
}

.card h1 {
    color: #001d3d;
    font-size: 1.1em;
    display: block;
    margin: 8% 10%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; }


.attribution a { 
    color: hsl(228, 45%, 44%); }


@media screen and (max-width:480px) {
    .card {
        height: 80%;
        width: 80%;  
    }
}
